.header {
  background-color: #1e1f2b;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  width: 120px;
  z-index: 10;
  transition: width ease-in-out 300ms;
  overflow: hidden;
}
.header h1 {
  margin: 0;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .links {
  display: flex;
  align-items: center;
  width: 115px;
  overflow: hidden;
  padding: 10px 0;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color ease 250ms, width ease-in-out 300ms;
}
.header .links:hover {
  background-color: #3a3c53;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
}
.header .links-group {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
}
.header .links-group .svg {
  margin: 10px;
}
.header .resume-link {
  text-decoration: none;
  color: white;
}
.header .bracket {
  color: white;
  font-size: 2rem;
}
.header .header-name {
  opacity: 0;
  transition: 150ms opacity 100ms;
}
.header:hover {
  width: 250px;
}
.header:hover .header-name {
  opacity: 1;
}
.header:hover .links {
  width: 200px;
}
.header .mobile {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  padding: 10px 15px;
}

@media only screen and (max-width: 850px) {
  .header {
    bottom: 0;
    height: 60px;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .links-group {
    padding: 0;
    display: inline-flex;
    width: 375px;
    position: unset;
    transform: unset;
  }
  .header .links-group .svg {
    margin: 5px;
  }
  .header .links {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .header .header-name {
    display: none;
  }
  .header:hover {
    width: 100vw;
  }
}
.intro {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.intro .section-title {
  width: 60%;
}
.intro .section-name {
  margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #dacfc2;
  position: relative;
}
.intro .container {
  height: 50vh;
  width: 60vw;
  background-color: #12131A;
  border: 1px solid #42bcc0;
  border-width: 1px 10px 10px 1px;
  box-shadow: #00000080 0px 40px 20px 0px;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "a a b b b " "a a b b b " "a a b b b " "a a c c c " "a a c c c ";
}
.intro .container .picture-section {
  grid-area: a;
  display: flex;
  position: relative;
}
.intro .container .picture-section .picture-background {
  width: 19vw;
  height: 19vw;
  background-color: #42bcc0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./components/assets/profilepic.jpg);
  background-size: cover;
}
.intro .container .picture-section .picture-background-shadow {
  width: 19vw;
  height: 19vw;
  background-color: #42bcc0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
}
.intro .container .description-section {
  grid-area: b;
  color: #dacfc2;
  display: flex;
  align-items: flex-end;
  padding: 5px;
}
.intro .container .links-section {
  grid-area: c;
  padding: 1rem;
}
.intro .container .links-section .resume {
  background-color: #12131A;
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
  color: #dacfc2;
  border: 1px solid #dacfc2;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all ease-in-out 150ms;
  font-size: 1rem;
}
.intro .container .links-section .resume:hover {
  transform: scaleX(1.1);
  color: #42bcc0;
  border-color: #42bcc0;
}
.intro .arrow {
  position: absolute;
  top: 90%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.intro .arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  .intro .section-name {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .intro .container .picture-section .picture-background {
    height: 250px;
    width: 250px;
  }
  .intro .container .picture-section .picture-background-shadow {
    height: 250px;
    width: 250px;
  }
}
@media only screen and (max-width: 850px) {
  .intro {
    padding: 0;
    justify-content: flex-start;
    overflow: hidden;
  }
  .intro .container {
    height: 68vh;
    width: 85vw;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "a a a a a a" "a a a a a a" "a a a a a a" "a a a a a a" "b b b b b b" "b b b b b b" "c c c c c c";
  }
  .intro .container .description-section {
    text-align: center;
  }
  .intro .arrow {
    display: none;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .intro .section-title {
    width: 80%;
  }
  .intro .container {
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "a a b b b " "a a b b b " "a a b b b " "a a b b b " "a a c c c " "a a c c c ";
  }
}
.skills {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.skills .section-name {
  color: #dacfc2;
  position: absolute;
  top: 18%;
  left: 24%;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2.3rem;
}
.skills .container {
  height: 50vh;
  width: 60vw;
  background-color: #12131A;
  border: 1px solid #2e2913;
  border-width: 1px 0px 0px 1px;
  box-shadow: #00000080 0px 30px 20px 0px;
  border-radius: 10px;
  padding: 30px;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
.skills .container-shadow {
  background-color: #eeb54c;
  height: 50vh;
  width: 60vw;
  border-radius: 10px;
  position: absolute;
  top: 51%;
  left: 53.75%;
  transform: translate(-50%, -50%);
}
.skills .skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  border-radius: 10px;
  transition: background-color ease-in-out 150ms;
}
.skills .skill-box .svg {
  margin: 10px 10px 0 10px;
}
.skills .skill-box .skill-name {
  color: #dacfc2;
  margin-top: 0;
  text-align: center;
}
.skills .skill-box:hover {
  background-color: #86672c;
}

@media only screen and (max-width: 1920px) {
  .skills .section-name {
    font-size: 1.7rem;
    top: 19%;
    left: 25%;
  }
  .skills .container-shadow {
    position: absolute;
    top: 51%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 1376px) {
  .skills .section-name {
    font-size: 1.5rem;
    top: 17%;
    left: 27%;
  }
  .skills .container {
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
  }
  .skills .container-shadow {
    position: absolute;
    top: 51%;
    left: 56.75%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 850px) {
  .skills {
    padding: 0;
  }
  .skills .section-name {
    font-size: 1.4rem;
    top: 0;
    left: 10%;
    z-index: 1;
  }
  .skills .container {
    height: 68vh;
    width: 85vw;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 50px;
    grid-template-columns: 1fr 1fr;
  }
  .skills .container-shadow {
    height: 565px;
    width: 345px;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 45.5%;
    left: 52.5%;
  }
}
.projects {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.projects .section-name {
  color: #dacfc2;
  position: absolute;
  top: 12%;
  left: 24%;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2.3rem;
}
.projects .container {
  height: 50vh;
  width: 60vw;
  background-color: #12131A;
  border: 1px solid #7e57c7;
  border-width: 1px 1px 10px 1px;
  box-shadow: #00000080 0px 40px 20px 0px;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.projects .container .project-box {
  border: 1px solid blue;
}

@media only screen and (max-width: 850px) {
  .projects {
    padding: 0;
  }
  .projects .section-name {
    font-size: 1.4rem;
    top: 0;
    left: 10%;
    z-index: 1;
  }
  .projects .container {
    height: 68vh;
    width: 85vw;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 50px;
    grid-template-columns: 1fr;
  }
}
.contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}
.contact .container {
  height: 40vh;
  width: 60vw;
  background-color: #e27baf;
  border-radius: 10px;
}

@media only screen and (max-width: 850px) {
  .contact {
    padding: 0;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}/*# sourceMappingURL=App.css.map */