.header {
  background-color: #1e1f2b;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  width: 120px;
  z-index: 10;
  transition: width ease-in-out 300ms;
  overflow: hidden;
}
.header h1 {
  margin: 0;
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .links {
  display: flex;
  align-items: center;
  width: 115px;
  overflow: hidden;
  padding: 10px 0;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color ease 250ms, width ease-in-out 300ms;
}
.header .links:hover {
  background-color: #3a3c53;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
}
.header .links-group {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
}
.header .links-group .svg {
  margin: 10px;
}
.header .resume-link {
  text-decoration: none;
  color: white;
}
.header .bracket {
  color: white;
  font-size: 2rem;
}
.header .header-name {
  opacity: 0;
  transition: 150ms opacity 100ms;
}
.header:hover {
  width: 250px;
}
.header:hover .header-name {
  opacity: 1;
}
.header:hover .links {
  width: 200px;
}
.header .mobile {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  padding: 10px 15px;
}

@media only screen and (max-width: 850px) {
  .header {
    bottom: 0;
    height: 70px;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .links-group {
    padding: 0;
    display: inline-flex;
    width: 375px;
    position: unset;
    transform: unset;
  }
  .header .links {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .header .header-name {
    display: none;
  }
  .header:hover {
    width: 100vw;
  }
}
.intro {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.intro .section-name {
  color: #dacfc2;
  position: absolute;
  top: 18%;
  left: 24%;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2.3rem;
}
.intro .container {
  height: 50vh;
  width: 60vw;
  background-color: #12131A;
  border: 1px solid #42bcc0;
  border-width: 1px 10px 10px 1px;
  box-shadow: #00000080 0px 40px 20px 0px;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  gap: 1rem;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
}
.intro .container .card-extraTall {
  grid-row: span 5/auto;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.intro .container .card-tall {
  grid-row: span 3/auto;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.intro .container .card-average {
  grid-row: span 2/auto;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.intro .container .card-skinny {
  grid-column: span 2/auto;
}
.intro .container .card-fat {
  grid-column: span 3/auto;
}
.intro .container .profile {
  position: relative;
}
.intro .container .profile-background {
  background-color: #42bcc0;
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro .container .profile-background-offset {
  background-color: #39a3a7;
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
}
.intro .container .name {
  font-size: 5vh;
  text-align: left;
  color: #42bcc0;
  margin: 50px 0 0 0;
}
.intro .container .description {
  font-size: 2vh;
  color: #dacfc2;
  text-align: left;
  margin: 0;
}
.intro .container .resume {
  text-decoration: none;
  color: #dacfc2;
  font-size: 1.5rem;
  background-color: #12131A;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dacfc2;
  transition: all ease-in-out 150ms;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.intro .container .resume:hover {
  transform: scaleX(1.1);
  color: #42bcc0;
  border: 1px solid #42bcc0;
}
.intro .arrow {
  position: absolute;
  top: 90%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.intro .arrow:hover {
  cursor: pointer;
}
@-webkit-keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.intro .intro-section {
  display: block;
  padding: 30px;
  -webkit-animation: cardEntrance 700ms ease-out;
          animation: cardEntrance 700ms ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media only screen and (max-width: 1920px) {
  .intro .section-name {
    font-size: 1.7rem;
    top: 19%;
    left: 25%;
  }
}
@media only screen and (max-width: 1376px) {
  .intro .section-name {
    font-size: 1.5rem;
    top: 17%;
    left: 27%;
  }
}
@media only screen and (max-width: 850px) {
  .intro {
    padding: 0;
  }
  .intro .section-name {
    font-size: 1.4rem;
    top: 0;
    left: 10%;
    z-index: 1;
  }
  .intro .container {
    height: 560px;
    width: 350px;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 50px;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .intro .container .card-extraTall {
    grid-row: span 3/auto;
  }
  .intro .container .card-tall {
    grid-row: span 2/auto;
  }
  .intro .container .card-average {
    grid-row: span 1/auto;
  }
  .intro .container .card-skinny {
    grid-column: span 5/auto;
  }
  .intro .container .card-fat {
    grid-column: span 5/auto;
  }
  .intro .container .profile-background {
    background-color: #42bcc0;
    height: 225px;
    width: 225px;
    border-radius: 50%;
  }
  .intro .container .name {
    margin: 0;
    text-align: center;
  }
  .intro .container .description {
    text-align: center;
    margin-top: 20px;
  }
  .intro .intro-section {
    padding: 0 15px;
  }
  .intro .arrow {
    display: none;
  }
}
.skills {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-family: "Poppins", sans-serif;
  position: relative;
  border: 1px solid red;
}
.skills .container {
  height: 50vh;
  width: 60vw;
  background-color: #12131A;
  border: 1px solid #2e2913;
  border-width: 1px 0px 0px 1px;
  box-shadow: #00000080 0px 30px 20px 0px;
  padding: 30px;
  z-index: 1;
}
.skills .container-shadow {
  background-color: #eeb54c;
  height: 49vh;
  width: 55vw;
  position: absolute;
  top: 49%;
  left: 54%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 850px) {
  .skills {
    padding: 0;
  }
  .skills .section-name {
    font-size: 1.4rem;
    top: 0;
    left: 10%;
    z-index: 1;
  }
  .skills .container {
    height: 560px;
    width: 350px;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 50px;
  }
  .skills .container-shadow {
    height: 565px;
    width: 345px;
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0;
    position: absolute;
    top: 43%;
    left: 52.5%;
  }
}
.projects {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}
.projects .container {
  height: 40vh;
  width: 60vw;
  background-color: #7e57c7;
  border-radius: 10px;
}

@media only screen and (max-width: 850px) {
  .projects {
    padding: 0;
  }
}
.contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #12131A;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
}
.contact .container {
  height: 40vh;
  width: 60vw;
  background-color: #e27baf;
  border-radius: 10px;
}

@media only screen and (max-width: 850px) {
  .contact {
    padding: 0;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}/*# sourceMappingURL=App.css.map */