.navbar {
    background-color:#181b29;
    position: fixed;
    height: 100px;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;

        li {
            display: grid;
            padding: 0 10px;
            cursor: pointer;

            img {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }

            p {
                color: whitesmoke;
                font-weight: 400;
                display: none;
            }
        }
    }
}

@media (min-width: 1366px) {
    $base-colour: #181b29;

    .navbar {
        background-color: $base-colour;
        display: block;
        height: 100vh;
        width: 5vw;
        transition: width 250ms ease-in-out;

        &:hover {
            width: 12vw; 
            p {
                opacity: 1;
            }
        }

        ul {
            display: block;
            padding: 10px;
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
            width: auto;
    
            li {
                display: flex;
                padding: 7.5px 10px;
                margin: 15px 0;
                align-items: center;
                border-radius: 10px;
                border: 2px solid transparent;


                &:hover {
                    background-color: lighten($base-colour, 5%);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;                }

                p {
                    padding-left: 10px;
                    white-space: nowrap;
                    opacity: 0;
                    transition: opacity 400ms ease-in-out;
                    display: block;
                }

                img {
                    position: static;
                    transform: unset;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .navbar {
        width: 3.75vw;

        &:hover {
            width: 8.5vw; 
        }
    }
}

@media (min-width:2560px) {
    .navbar {
        width: 2.75vw;

        &:hover {
            width: 6.5vw; 
        }
    }
}