.dias{
    height:500px;
}

.dias-moving{
    transform-origin: center;
    // transform-box: fill-box;
    transition: all 1s ease-in-out;
}

.dias-sun{
    transition: all 1s ease-out;
}

.dias-moon{
    transform-origin: center;
    transform-box: fill-box;
    transition: all 1s ease-in-out;
}