// @import './../variables';
@use '../variables' as variables;

$sectionColour:#42bcc0;

.intro {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: variables.$primaryColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    position: relative;

    .section-title{
        width: 60%;
        margin-top: 20px;
    }

    .section-name{
        margin: 0;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 2rem;        
        color: variables.$neutralColour;
        position:relative;
    }

    .container {
        height: 50vh;
        width: 60vw;
        background-color:variables.$primaryColour;
        border: 1px solid $sectionColour; 
        border-width: 1px 10px 10px 1px;
        box-shadow: #00000080 0px 40px 20px 0px;    

        border-radius: 10px;
        padding: 30px;

        display: grid;
        gap: 1rem;

        grid-template-columns:repeat(5,1fr);
        grid-template-rows:repeat(5,1fr);
        grid-template-areas:
        'a a b b b '
        'a a b b b '
        'a a b b b '
        'a a c c c '
        'a a c c c ';

        .picture-section{
            grid-area: a;
            display: flex;
            // align-items: center;
            // justify-content: center;
            position: relative;

            .picture-background{
                width: 19vw;
                height: 19vw;
                background-color: $sectionColour;
                border-radius: 50%;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-image: url(./components/assets/profilepic.jpg);
                background-size: cover; 
            
            }

            .picture-background-shadow{
                width: 19vw;
                height: 19vw;
                background-color: $sectionColour;
                border-radius: 50%;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-48%,-48%);
            }
        }

        .description-section{
            grid-area: b;
            color: variables.$neutralColour;
            display: flex;
            align-items: flex-end;
            padding: 5px;
        }    
            
        .links-section{
            grid-area: c;
            padding: 1rem;

            .resume{
                // all:unset;
                background-color:variables.$primaryColour ;
                padding:5px;
                border-radius: 6px;
                text-decoration: none;
                color: variables.$neutralColour;
                border:1px solid variables.$neutralColour;
                display: block;
                width: fit-content;
                transition: all ease-in-out 150ms;
                font-size: 1rem;

                &:hover{
                    transform:scaleX(1.1);
                    color: $sectionColour;
                    border-color:$sectionColour;
                }
            } 
        }
    }    

    .arrow {
        position: absolute;
        top: 90%;
        left: 54%;
        transform: translate(-50%, -50%);

        &:hover{
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1366px){
    .intro{
        .section-name{
            font-size: 1.4rem;  
            letter-spacing: 1px;
        }
        .container{
            .picture-section{
                .picture-background{
                    height: 250px;
                    width:250px;
                }

                .picture-background-shadow{
                    height: 250px;
                    width:250px;
                }
            }
        }
    }

}

@media only screen and (max-width: 850px){
    .intro {
        padding: 0;
        justify-content: flex-start;
        overflow: hidden;
        
        .container{
            height:  68vh;
            width: 85vw;    
            border-radius: 6px;
            gap: .5rem;
            padding: 0;
            grid-template-rows:repeat(7,1fr);
            grid-template-areas: 
            'a a a a a a'
            'a a a a a a'
            'a a a a a a'
            'a a a a a a'
            'b b b b b b'
            'b b b b b b'
            'c c c c c c';

            .description-section{
                text-align: center;
            }   
        }

        .arrow{
            display: none;
        }

        @media (orientation:landscape){
            .section-title{
                width: 80%;
            } 

            .container{
                grid-template-rows:repeat(6,1fr);
                grid-template-areas:
                'a a b b b '
                'a a b b b '
                'a a b b b '
                'a a b b b '
                'a a c c c '
                'a a c c c '
                ;

                .picture-section{
                    .picture-background{
                        height: 200px;
                        width:200px;
                    }
    
                    .picture-background-shadow{
                        height: 200px;
                        width:200px;
                    }
                }
            }
        }
    }
}