@import './../variables';
$sectionColour:#42bcc0;
$neutralColour:#dacfc2;

@function repeat($amount,$value){
    $c:'';
    @for $count from 0 to $amount{
        $c:$c + ' ' + $value
    }
    @return unquote($c)
}


.intro {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: $primaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    position: relative;

    .container {
        height: 50vh;
        width: 60vw;
        background-color:$primaryColour;
        // border-left: 5px solid  #42bcc0;
        // border-bottom: 5px solid  #42bcc0;
        border: 1px solid $sectionColour; 
        border-width: 1px 10px 10px 1px;
        box-shadow: #00000080 0px 30px 20px 0px;    

        border-radius: 10px;
        padding: 30px;

        display: grid;
        gap: 1rem;

        grid-template-columns:repeat(5,1fr);
        grid-template-rows:repeat(5,1fr);

        .card-extraTall{ 
            grid-row: span 5 / auto;
            animation-delay: 100ms;
        }
        .card-tall{ 
            grid-row: span 3 / auto; 
            animation-delay: 200ms;
        }
        .card-average{ 
            grid-row: span 2 / auto; 
            animation-delay: 300ms;
        }
        .card-skinny{ grid-column: span 2 / auto; }
        .card-fat{ grid-column: span 3 / auto; }

        .profile{
            position:relative;
            // justify-content: center;
            // align-items: center;
        }

        .profile-background{
            background-color:$sectionColour;
            // display: block;
            height: 18vw;
            width: 18vw;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .profile-background-offset{
            background-color:#39a3a7;
            // display: block;
            height: 18vw;
            width: 18vw;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-48%, -48%);
        }

        .name{
           font-size: 5vh; 
           text-align: left;
           color:$sectionColour;
           margin:50px 0 0 0; 
        }

        .description{
            font-size: 2vh; 
            color: $neutralColour;
            text-align: left;
            margin: 0;
        }

        .resume{
            text-decoration: none;
            color:$neutralColour;
            font-size: 1.5rem;
            background-color: $primaryColour;
            padding: 10px;
            border-radius: 2px;
            border: 1px solid $neutralColour;
            transition: all ease-in-out 150ms;
            display: block;
            width: fit-content;

            &:hover{
                transform:scaleX(1.1);
                color: $sectionColour;
                border: 1px solid $sectionColour;
            }
        }
    }    

    .arrow{
        position: absolute;
        top: 90%;
        left: 54%;
        transform: translate(-50%, -50%);

        &:hover{
            cursor: pointer;
        }
    }

    @keyframes cardEntrance {
        from{
            opacity: 0;
            transform:scale(0.3);
        }to{
            opacity: 1;
            transform: scale(1);
        }
    }

    .intro-section{
        // border: 1px solid blue;
        display: block;
        padding: 30px;
        animation:cardEntrance 700ms ease-out;
        animation-fill-mode: backwards;

        
    }
}

@media only screen and (max-width: 850px){
    .intro {
        padding: 0;

        .container{
            height: 600px;
            width: 350px;    
            border-radius: 6px;
            gap: .5rem;
            padding: 0;

            position: absolute;
            top: 60px;

            grid-template-rows:repeat(6,1fr);

            .card-extraTall{ grid-row: span 3 / auto; }
            .card-tall{ grid-row: span 2 / auto; }
            .card-average{ grid-row: span 1 / auto; }
            .card-skinny{ grid-column: span 5 / auto; }
            .card-fat{ grid-column: span 5 / auto; }

            .profile-background{
                background-color:$sectionColour;
                // display: block;
                height: 225px;
                width: 225px;
                border-radius: 50%;
            }

            .name{
                margin:0;
            }
        }

        .intro-section{
            padding: 0 15px;
        }

        .arrow{
            display: none;
        }
    }
}