@use '../variables' as *;

$header-testColour:red;

.header{

    background-color: $ctaColour;

    position: fixed;
    left: 0;
    display: flex;
    // align-items: center;
    height: 100vh;
    max-height:100%;
    width: 120px;
    z-index: 10;
    transition: width ease-in-out 300ms;
    overflow: hidden;
    justify-content: center;


    .switch-moon,.switch-sun{
        height: 40px;
    }

    h1{
        margin: 0;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;     
    }

    .links{
        display: flex;
        align-items: center;
        width: 115px;
        overflow: hidden;
        padding: 10px 0;
        margin: 10px 0;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 1rem;
        border-radius: 6px;
        transition: background-color ease 250ms,width ease-in-out 300ms;      
        
        &:hover{
            background-color: #3a3c53;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;    
            cursor: pointer;
        }
    }

    .links-group{
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: fit-content;
        padding: 1vh;

        .svg{
            margin: 10px;
        }
    }

    .resume-link{
        text-decoration: none;
        color: white;
    }

    .bracket{
        color: white;
        font-size:2rem;
        }
    .header-name{
        opacity: 0;    
        transition:150ms opacity 100ms;
        margin-left: 10px;
    }

    &:hover{
        width:250px;
        
        .header-name{ 
            opacity: 1; 
        }
        .links{ width: 200px; }
    }


    .mobile{
        display: none;
        width: fit-content;
        position: absolute;
        right: 0;
        padding: 10px 15px;
    }   
}



@media only screen and (max-width: 850px){
    .header{

        bottom:0;
        height: 60px;
        width: 100vw;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        .switch-wrapper{
            top: 50%;
        }

        .links-group{
            padding: 0;
            display: flex;
            width: 60vw;
            position: unset;
            transform: unset;

            .svg{
                margin: 5px;
            }
        }

        .links{
            padding: 0;
            margin: 0;
            justify-content: center;
        }

        .header-name{
            display: none;
        }

        &:hover{
            width: 100vw;
        }
    }
}
