$header-primaryColour: #0e1212;
$header-testColour:red;


.header{

    background-color: $header-primaryColour;
    // border: 1px solid red;
    position: relative;
    top: 0;

    height: 10vh;
    width: 100vw;
    max-width:100%;

    h1{
        margin: 0;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;     
    }

    li{
        display: inline;
        color: white;
    }

    .links{
        padding: 0 1vw;
        font-family: 'Oxygen', sans-serif;
        font-size: 1.5rem;
    }

    .links-group{
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        // border: 1px solid red;
        padding: 1vh;
    }

    .resume-link{
        // text-decoration: none;
        color: white;
    }

    .bracket{
        color: white;
        font-size:1.5rem;
    }

    .mobile{
        display: none;
        width: fit-content;
        position: absolute;
        right: 0;
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 850px){
.header{
    .fullscreen{
        display: none;
    }

    .mobile{
        display: block;
    }
}
}
