@use '../variables' as variables;

$sectionColour:#eeb54c;

.skills {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: variables.$primaryColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    position: relative;

    .section-name{
        color: variables.$neutralColour;
        position:absolute;
        top: 18%;
        left: 24%;

        font-weight: 500;
        letter-spacing: 2px;
        font-size: 2.3rem;
    }

    .container {
        height: 50vh;
        width: 60vw;
        background-color:variables.$primaryColour;
        border: 1px solid #2e2913; 
        border-width: 1px 0px 0px 1px;
        box-shadow: #00000080 0px 30px 20px 0px;    

        border-radius: 10px;
        padding: 30px;
        z-index: 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 1rem
    };    

    .container-shadow{
        background-color: $sectionColour;
        height: 50vh;
        width: 60vw;
        border-radius: 10px;

        position: absolute;
        
        top: 51%;
        left: 53.75%;
        transform: translate(-50%,-50%);
    }

    .skill-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;    
        border-radius: 10px;
        transition: background-color ease-in-out 150ms;      

        .svg{
            margin:  10px 10px 0 10px;
        }

        .skill-name{
            color:variables.$neutralColour;
            margin-top: 0;
            text-align: center;
        }

        &:hover{
            background-color: #86672c;
        }
    }

}

@media only screen and (max-width: 1920px){
    .skills {
        .section-name{
            font-size: 1.7rem;
            top: 19%;
            left: 25%;
        }

        .container-shadow{
            position: absolute;
            
            top: 51%;
            left: 55%;
            transform: translate(-50%,-50%);
        }
    }
}

@media only screen and (max-width: 1376px){
    .skills {
        .section-name{
            font-size: 1.5rem;
            top: 17%;
            left: 27%;
        }

        .container {
            padding: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4,1fr);
            gap: .5rem
        };    
        
        .container-shadow{
            position: absolute;
            
            top: 51%;
            left: 56.75%;
            transform: translate(-50%,-50%);
        }
    }
}

@media only screen and (max-width: 850px){
    .skills {
        padding: 0;

        .section-name{
            font-size: 1.4rem;
            top: 0;
            left: 10%;
            z-index: 1;
        }

        .container{
            height: 560px;
            width: 350px;    
            border-radius: 6px;
            gap: .5rem;
            padding: 25px;

            position: absolute;
            top: 50px;
            grid-template-columns: 1fr 1fr;

        }

        .container-shadow{
            height: 565px;
            width: 345px;    
            border-radius: 6px;
            gap: .5rem;
            padding: 0;

            position: absolute;
            top: 45.5%;
            left: 52.5%;
        }
        
    }
}