@use '../variables' as variables;

$sectionColour:#eeb54c;

.skills {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: variables.$primaryColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    position: relative;

    .section-title{
        width: 60%;
    }

    .section-name{
        margin: 0;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 2rem;        
        color: variables.$neutralColour;
        position:relative;
    }

    .container {
        height: fit-content;
        width: 60vw;
        background-color:variables.$primaryColour;
        border: 1px solid #2e2913; 
        border-width: 1px 0px 0px 1px;
        box-shadow: #00000080 0px 30px 20px 0px;   

        border-radius: 10px;
        padding: 30px;

        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr)); 
    };    

    .container-shadow{
        background-color: $sectionColour;
        height: 50vh;
        width: 60vw;
        border-radius: 10px;

        position: absolute;
        
        top: 51%;
        left: 53.75%;
        transform: translate(-50%,-50%);
    }

    .skill-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #221e0e; 
        border-width: 1px 0px 0px 1px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;    
        border-radius: 10px;
        transition: background-color ease-in-out 150ms;      

        .svg{
            margin:  10px 10px 0 10px;
        }

        .skill-name{
            color:variables.$neutralColour;
            margin-top: 0;
            text-align: center;
        }

        &:hover{
            background-color: #ffc8613f;
        }
    }

}



@media only screen and (max-width: 1366px){
    .skills{
        .section-name{
            font-size: 1.4rem;  
            letter-spacing: 1px;
        }
        .container{
            .picture-section{
                .picture-background{
                    // height: 250px;
                    width:250px;
                }

                .picture-background-shadow{
                    height: 250px;
                    width:250px;
                }
            }
        }
    }

}

@media only screen and (max-width: 850px){
    .skills {
        padding: 0;
        justify-content: flex-start;
        overflow: hidden;
        
        .container{
            width: 85vw;    
            border-radius: 6px;
            gap: .5rem;
            padding: 10px; 
            grid-template-columns: repeat(auto-fit,minmax(85px,1fr));
        }
    }

    @media (orientation:landscape){
        .skills{
            height: fit-content;
            padding-bottom: 100px;
            .section-title{
                width: 80%;
            } 
            .container{
                grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
            }    
        }
    }
}